{
  "presets": ["latest-node6"],
  "env": {
    "test": {
      "sourceMaps": "both"
    }
  },
  "plugins": [
    ["module-resolver", {
      "alias": {
        "learnjest-database": "./src/database"
      }
    }],
    "transform-decorators-legacy"
  ]
}
